<%- include('../partials/header.ejs') %>
<div class="content">
    <div class="center-container">
<% if(item){ %>
    <br> <br>
    <table class="table table-dark">
        <tbody>
            <br>
        
            <tr>
            <td><%= result.tradeid.name%></td>
            <td><%= result.offerid.name%></td>
            <td rowspan="2">
                <form>
                <button type="submit" class="btn btn-success"  formmethod="POST" formaction="/trades/<%= result.tradeid.id%>/cancelOffer">Cancel offer</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <img src="<%=result.tradeid.image %>" height="150" width="120">
        </td>
        <td>
            <img src="<%=result.offerid.image %>" height="150" width="120">
        </td>
    </tr>
        </tbody>
    </table>
    <% } else {%>
        <table class="table table-dark">
        <tbody>
            <tr>
            <td><%= result.tradeid.name%>
                
            </td>
            <td><%= result.offerid.name%>
            
            </td>
            <td rowspan ="2">
                <form>
                <button type="submit" class="btn btn-light"  formmethod="POST" formaction="/trades/<%= result.tradeid.id%>/acceptOffer">Accept</button>
                <button type="submit" class="btn btn-danger"  formmethod="POST" formaction="/trades/<%= result.tradeid.id%>/rejectOffer">Reject</button>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            <img src="<%=result.tradeid.image %>" height="150" width="120">
        </td>
        <td>
            <img src="<%=result.offerid.image %>" height="150" width="120">
        </td>
    </tr>
        </tbody>
        </table>
        <% } %>

    </div>
    </div>
<%- include('../partials/footer.ejs') %>